.new-photo-area {
    border: dashed 2px #EEEEEE;
    box-sizing: content-box;
    margin: 20px 0;
    text-align: center;
    vertical-align: middle;
}

.new-photo-area img {
    visibility: hidden;
}

#cropper-label {
    cursor: pointer;
    padding: 10px;
}

#cropper-label div {
    margin-bottom: 10px;
}

.jcrop-holder {
    margin: 0 auto
}

.jcrop-thumbnail {
    margin: 0 auto;
}